<section>
    <div class="container-externo col-sm-12 text-center">
        <div class="container col-sm-8 col-sm-offset-2 text-center">
            <!-- HEADER -->
            <img ng-src="../css/images/logo01.png" alt="logo" class="logo">
            <h3 class="sub-titulo">Olá {{dados.nome}},</h3>
            <h3 class="sub-titulo">Procure os hemocentros mais próximos de você.</h3>

            <!-- BUSCA -->
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group" id="divIputCep">
                            <input class="form-control icone-busca" id="inputCep" type="text" name="field"
                            placeholder="CEP" ng-change="buscar()" ng-model="cep" ui-br-cep-mask>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- MAPA -->
        <div class="col-sm-12">
            <!-- <div class="mapa"></div> -->
            <div id="mapa"></div>

            <!-- AGENDAMENTO -->
            <div class="agendamento">
                <img src="css/images/calendario.svg" class="calendario-icon" alt="Calendário" aria-hidden="true"
                ng-mouseover="aparecer=true" ng-mouseleave="aparecer=false" align="left"></img>
                <!-- <span class="glyphicon glyphicon-calendar" aria-hidden="true"
                ng-mouseover="aparecer=true" ng-mouseleave="aparecer=false"></span> -->
                <div class="box-agendamento" ng-show="aparecer">
                    <p class="paragrafo-calendario text-left">Crie um lembrete na sua agenda para a sua próxima doação</p>
                </div>
            </div>
        </div>

        <!-- CALENDÁRIO -->
        <div class="col-sm-12 titulo-calendario">
            <h3 class="calendario-titulo">Calendário</h3>
            <p class="subtitulo-calendario">Fique por dentro do que acontece na sua cidade.</p>
        </div>
        <div class="row">
            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">
            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>
        </div>

        <div class="row calendario-2 hidden-xs hidden-xs">
            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">
            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>

            <div class="col-sm-3 home-evento">
                <img src="css/images/524171314.jpeg" alt="">

            </div>

            <div class="row">
                <button class="botao icone-eventos">Mais eventos</button>
            </div>
        </div>

        <!-- PONTUAÇÃO -->
        <div class="col-sm-12 pontuacao">
            <img class="icone-pontuacao" src="css/images/nivel-icon.svg" alt="Nível Verde">
            <h3 class="pontuacao-titulo">114 pontos</h3>
            <div class="row">
                <button class="botao-pontuacao icone-pontos">Trocar Pontos</button>
            </div>
            <h3 class="pontuacao-titulo">Faltam 100 pontos para o nível azul</h3>
            <div class="outine-nivel">
                <div class="nivel"></div>
            </div>
        </div>

    </div>
</section>

<script>
  var mapa;
  function initMap() {
    mapa = new google.maps.Map(document.getElementById('mapa'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD7IylVnjmcBMmkQ5zOewtahfvj0WFZKc&callback=initMap" async defer>
</script>
