<section>
    <div class="container col-sm-8 col-sm-offset-2 text-center">
        <img ng-src="../css/images/logo01.png" alt="logo" class="logo">
        <h3 class="sub-titulo">Olá {{dados.nome}},</h3>
        <h3 class="sub-titulo">Procure os hemocentros mais próximos de você.</h3>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form>
                    <div class="form-group" id="divIputCep">
                        <input class="form-control" id="inputCep"  type="text" placeholder="CEP">
                        <span id="teste"></span>
                        <!-- <button class="glyphicon glyphicon-search" id="botaoCep" aria-hidden="true"></button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
