<section>
    <div class="container-externo col-sm-12 text-center">
        <div class="container col-sm-8 col-sm-offset-2 text-center">
            <!-- HEADER -->
            <img ng-src="css/images/logo.svg" alt="logo" class="logo">
        </div>
        <div class="container-externo col-sm-12">
        <div class="container col-sm-4 text-right">
            <p class="sub-titulo bottom-align-text">ENCONTRE OS PONTOS DE COLETA PERTODE VOCÊ.</p>
        </div>
        <div class="position container col-sm-8 text-left">
            <h1>Doe.</h1>
        </div>

        <!-- HEADER -->
        <!-- <div class="imagemBackground">
            <div class="layer"></div>
        </div> -->
</div>
</section>
