<section>
    <div class="container-externo col-sm-12 text-center">
        <div class="container col-sm-8 col-sm-offset-2 text-center">
            <!-- HEADER -->
            <img ng-src="css/images/logo.svg" alt="logo" class="logo">
        </div>

        <div class="container-externo col-sm-12">
            <div class="container col-sm-4 text-right">
                <p class="sub-titulo bottom-align-text">ENCONTRE OS PONTOS DE COLETA PERTO DE VOCÊ.</p>
            </div>
            <div class="position container col-sm-8 text-left">
                <h1>Doe.</h1>
            </div>
        </div>

        <!-- BUSCA -->
            <div class="col-sm-12 barra-cep-margin">
                    <div class="barra-cep-landing col-sm-10 col-sm-offset-1">
                        <span class="sub-titulo-chamadaCep icone-pin">CEP DO TRABALHO</span>
                    </div>
            </div>
        </div>

        <!-- BOTÕES -->
        <div class="row col-sm-12 botoesLanding">
            <button class="botao">Criar conta</button>
            <button class="botao">Login</button>
        </div>

        <div class="col-sm-12">
            <button class="icone-scrollDown" align="center"></button>
        </div>


        <!-- HEADER -->
        <!-- <div class="imagemBackground">
            <div class="layer"></div>
        </div> -->
</div>
</section>
