body{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 17px;
    /*height: 1000px;*/
}

h3{
    font-size: 17px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 70px;
}

input::-webkit-input-placeholder {
color: #F7AFB8 !important;
}

input:-moz-placeholder {
color: #F7AFB8 !important;
}

input::-moz-placeholder {
color: #F7AFB8 !important;
}

input:-ms-input-placeholder {
color: #F7AFB8 !important;
}

a{
    color: #F7AFB8;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

.agendamento{
    margin-top: 25px;
}

.background{
    background: linear-gradient(to right, rgba(247, 175, 184, 1), rgba(249, 102, 99, 1));
}

.botao{
    margin-top: 40px;
    font-size: 13px;
    width: 225px;
    height: 32px;
    border: none;
    border: solid 1px;
    border-radius: 15px;
    border-color: white;
    background-color: transparent;
}

.botao-pontuacao{
    margin-top: 14px;
    font-size: 13px;
    width: 225px;
    height: 32px;
    border: none;
    border: solid 1px;
    border-radius: 15px;
    border-color: white;
    background-color: transparent;
}

.box-agendamento{
    width: 280px;
    height: 50px;
    background: linear-gradient(to right, rgba(247, 175, 184, 1), rgba(249, 102, 99, 1));
    border-radius: 10px;
    box-shadow: 0px 0px 25px #F96663;
    margin-left: 66px;
}

.calendario-icon{
    width: 6%;
    margin-top: -12px;
}

.calendario-2{
    margin-top: 30px;
}

.calendario-titulo{
    margin-top: 50px;
    margin-bottom: 0;
}

.glyphicon-calendar{
    margin-top: 25px;
    float: left;
}

.home-evento img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #EF6663;
}

.imagemBackground{
    background:url('images/524171314.jpeg');
    position: relative;
    max-width: 100%;
    height: 400px;
}

.icone-eventos{
    background: url('images/eventos.svg') no-repeat 10%;
}

.icone-busca{
    background: url('images/lupa.png') no-repeat 99% 3px;
}

.icone-pontos{
    background: url('images/trocar-pontos-icon.svg') no-repeat 10%;
}

.icone-pontuacao{
    width: 8%;
    margin-top: 10%;
}


.layer {
    background: linear-gradient(to bottom, rgba(247, 175, 184, 0), rgba(249, 102, 99, 1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo{
    margin-top: 40px;
}

.mapa{
    width: 100%;
    height: 350px;
    background: lightgrey;
    border-radius: 10px;
}

.nivel{
    width: 50%;
    height: 24px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, rgba(255, 57, 63, 1), rgba(255, 82, 152, 1));
    margin-top: 3px;
    margin-left: 3px;
}

.outine-nivel{
    display: block;
    margin-top: 40px;
    font-size: 13px;
    width: 100%;
    height: 32px;
    border: none;
    border: solid 1px;
    border-radius: 15px;
    border-color: white;
    background-color: transparent;
}

.paragrafo-calendario{
    line-height: 20px;
    font-size: 13px;
    padding: 5px 0px 0px 10px;
}

.pontuacao-titulo{
    margin-bottom: 0;
}


.sub-titulo{
    font-size: 20px;
}

.subtitulo-calendario{
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 5px;
}


#inputCadastro {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
}

#inputCep {
  border: none;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 45px;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-size: 27px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#divIputCep {
    display: flex;
}

#mapa{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    /*box-shadow: 0px 0px 20px grey;*/
}
